In [9]:
!pip  install mysql.connector.python
!pip install sqlalchemy

Requirement already satisfied: mysql.connector.python in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (9.4.0)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.5 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.4-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.44-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 1.1 MB/s  0:00:02 eta 0:00:01
Downloading greenlet-3.2.4-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (584 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 584.4/584.4 kB 1.2 MB/s  0:00:00 eta 0:00:01
Installing collected packages: greenlet, sqlalchemy
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [sqlalchemy]2 [sqlalchemy]
Successfully installed greenlet-3.2.4 sqlalchemy-2.0.44

In [7]:
!pip install requests
!pip install beautifulsoup4
!pip install lxml
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install scikit-learn

Requirement already satisfied: requests in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from requests) (2025.10.5)
Requirement already satisfied: beautifulsoup4 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (4.14.2)
Requirement already satisfied: soupsieve>1.2 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from beautifulsoup4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from beautifulsoup4) (4.15.0)
Requirement already satisfied: lxml in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (6.0.2)
Requirement already satisfied: pandas in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (2.2.6)
Requirement already satisfied: matplotlib in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib) (2.2.6)
Requirement already satisfied: packaging>=20.0 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: seaborn in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from seaborn) (2.2.6)
Requirement already satisfied: pandas>=1.2 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from seaborn) (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Requirement already satisfied: scikit-learn in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from scikit-learn) (2.2.6)
Requirement already satisfied: scipy>=1.8.0 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/youssef/DEPI_Files/.venv/lib/python3.10/site-packages (from scikit-learn) (3.6.0)

In [8]:
import mysql.connector
db = mysql.connector.connect(
    host = '127.0.0.1',
    user = 'root',
    password = '0100',
    database = 'debi_3'
)
cursor = db.cursor()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '127.0.0.1:3306' (111)

In [ ]:
cursor.reset()
cursor.execute('show tables')

tables = cursor.fetchall()
for table in tables:
    print(table)

In [ ]:
cursor.execute('CREATE DATABASE IF NOT EXISTS debi_3')

In [ ]:
cursor.execute('SHOW DATABASES')
print(cursor.fetchall())

In [ ]:
cursor.execute('use debi_3')

In [ ]:
cursor.execute('CREATE TABLE IF NOT EXISTS Employee (id INT, name VARCHAR(255), age INT)')
cursor.execute('show tables')
print(cursor.fetchall())

In [ ]:
scheme = cursor.fetchall()
for table in scheme:
    print(table)

In [ ]:
cursor.execute('DROP TABLE IF EXISTS Employee') # Drop the table if it exists
cursor.execute('show tables')
tables = cursor.fetchall()
for table in tables:
    print(table)

In [ ]:
cursor.execute("CREATE TABLE IF NOT EXISTS Employee (id INT, name VARCHAR(255), age INT)")

In [ ]:

cursor.execute("DESCRIBE Employee")
schema = cursor.fetchall()
for column in schema:
    print(column)

In [ ]:
cursor.execute('ALTER TABLE Employee ADD COLUMN salary INT NOT NULL')

In [ ]:
cursor.execute('ALTER TABLE Employee MODIFY COLUMN salary INT')

In [ ]:
cursor.execute("INSERT INTO Employee (id, name, age, salary) VALUES (1, 'John Doe', 30, 5000)")

cursor.execute("SELECT * FROM Employee")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
data = [
    (2, 'Jane Smith', 25),
    (3, 'Alice Johnson', 28),
    (4, 'Bob Brown', 35)
]

cursor.executemany("INSERT INTO Employee (id, name, age) VALUES (%s, %s, %s)", data)

cursor.execute("SELECT * FROM Employee")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
cursor.execute('TRUNCATE TABLE Employee') # Delete all records from the table

In [ ]:
cursor.execute('select * from Employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
cursor.execute("UPDATE Employee SET salary = 3000 WHERE age < 30")

cursor.execute('select * from Employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
cursor.execute('DELETE FROM Employee WHERE id = 1')
 
cursor.execute('select * from Employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
cursor.execute("UPDATE Employee SET salary = 5000 WHERE salary IS NULL")

cursor.execute("SELECT * FROM Employee")
rows = cursor.fetchall()
for row in rows:
    print(row)